<nav aria-label="Pages">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{'disabled': currentPage ===0 }">
      <a class="page-link" (click) = "currentPage = selectedPage-1">Previous</a>
    </li>
    
    <li 
    class="page-item" 
    [ngClass]="{active : i === selectedPage}"
    *ngFor="let item of cardDatas; let i = index">
      <a class="page-link" href="#"  (click) = "currentPage = i">{{i+1}}</a>
    </li>
    
    
    <li class="page-item" [ngClass]="{'disabled': currentPage ===cardDatas.length-1 }">
      <a class="page-link" href="#" >Next</a>
    </li>
  </ul>


